.book{
    width: 300px;
    height: 400px;
    background-color: #CA7842;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column ;
    padding: 10px;
    border-radius: 10px;
    box-shadow: black 0px 0px 10px;
    color: #F0F2BD;
    font-weight: bolder;

}
.book p{
    margin: 5px;
}
.book h3{
    font-weight: bolder;
    font-size: 20px;
    color: black;
}
.book a{
    color:#CA7842;
    background-color:#F0F2BD;
    padding: 2px;
    text-decoration: none;
    margin: 5px;
}
.book:hover{
    scale: 1.01;
    transition: all 0.1s ease-in-out;
}